*{
    box-sizing: border-box;

}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    margin: 0;
    padding: 0;
    line-height: 16px;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    background-color: hsl(0, 0%, 98%);
}

section div img{
    float: right;
}

p{
    color: hsl(229, 6%, 66%);
    font-weight: 100;
}

h3{
    color: hsl(234, 12%, 34%);
}
div.header-text{
    padding: 70px 0px 20px 0px;
    text-align: center;
    display: block;
}


div.header-text h1.header-one{
        font-weight: 100; 
  
}
div.header-text h1.header-two{
    font-weight: 500;
    color: hsl(234, 12%, 34%);
    
}


section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
}

section div.card-one{
    box-shadow: 0 10px 20px darkgrey, 0 6px 6px darkgrey;
    background:white;
    text-align: left;
    padding: 30px;
    display: block;
    margin: 30px;
    border-top: 3px solid hsl(180, 62%, 55%);
    border-radius: 5px;
    width: 350px;
  
  
}

section div.card-two{
    box-shadow: 0 10px 20px darkgrey, 0 6px 6px darkgrey;
    background:white;
    text-align: left;
    margin: 30px;
    padding: 30px;
    border-top: 3px solid hsl(0, 78%, 62%);
    border-radius: 5px;
    width: 350px;
    
    
}
  


section div.card-three{
    box-shadow: 0 10px 20px darkgrey, 0 6px 6px darkgrey;
    background:white;
    text-align: left;
    margin: 30px;
    padding: 30px;
    display: block;
    border-top: 3px solid hsl(34, 97%, 64%);
    border-radius: 5px;
    width: 350px;
    transform: translateX(50%);
   
}

section div.card-four{
    box-shadow: 0 10px 20px darkgrey, 0 6px 6px darkgrey;
    background:white;
    text-align: left;
    margin: 30px;
    padding: 30px;
    border-top: 3px solid hsl(212, 86%, 64%);
    border-radius: 5px;
    width: 350px;
    
}

@media only screen and (min-width:375px){
    section div.card-three{
        transform: translateY(-0.25em);
    }
}